<nav class="fh5co-nav" role="navigation">
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <p class="num">Call: +998 88 888 88 88</p>
                    <ul class="fh5co-social">
                        <li><a href="https://www.instagram.com/_ray1mberd1yev_08"><i class="icon-instagram"></i></a></li>
                        <li><a href="#"><i class="icon-youtube"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-1">
                    <div id="fh5co-logo"><a href="/">IT-Center<span></span></a></div>
                </div>
                <div class="col-xs-11 text-right menu-1">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/courses">Kurslar</a></li>
                        <li><a href="pricing.html">Narx</a></li>
                        <li><a href="contact.html">Kontakt</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</nav>
